/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
script/nohup.out
docker/tempdocker/*
sftp-config.json
.editorconfig
.env
.env.local
.env.production
.env.staging
